@use '@scss/variables' as *;

.contact-section {
  color: $white;
  background: $black;

  .heading {
    max-width: 800px;
    margin-bottom: 64px;
  }

  .label {
    margin-bottom: 24px;

    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.12em;
  }

  h2 {
    margin-bottom: 24px;

    font-size: clamp(42px, 7vw, 88px);
    line-height: 0.95;
    letter-spacing: -0.04em;
  }

  .description {
    max-width: 600px;

    color: #aaa;
    font-size: 18px;
    line-height: 1.6;
  }

  .list {
    border-top: 1px solid #444;
  }

  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 24px 0;

    border-bottom: 1px solid #444;

    transition: opacity .3s;

    &:hover {
      opacity: 0.6;
    }
  }

  .title {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.08em;
  }

  .value {
    font-size: 20px;
  }
}