@use '@scss/variables' as *;

.experience-section{
  .text-list, .list, .list .item{
    display: flex;
    flex-wrap: wrap;

    & > *{
      flex: 1 1 50%;
    }
  }

  .text{
    padding: 20px 20px 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .text-list{
    border-top: $border;
    border-bottom: $border;
  }

  .item{
    flex: 1 1 100%;

    &:nth-child(even){
      .detail{
        order: 2;
      }
    }

    &:last-child{
      & > *{
        border-bottom: initial;
      }
    }

    & > *{
      border-left: $border;
      border-bottom: $border;
      padding: 12px;
    }
  }
}