@use '@scss/variables' as *;

.skills-section {
  .heading {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    margin-bottom: 48px;
  }

  .label {
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.12em;
  }

  h2 {
    max-width: 700px;

    font-size: clamp(36px, 5vw, 64px);
    line-height: 1;
    letter-spacing: -0.03em;
  }

  .link {
    font-size: 14px;

    border-bottom: 1px solid $black;
  }

  .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    border-top: 1px solid $border-color;
    border-left: 1px solid $border-color;
  }

  .skill {
    min-height: 180px;
    padding: 24px;

    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: background .3s;

    h3 {
      font-size: 24px;
      font-weight: 500;
    }
  }

  .skill-info {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    font-size: 13px;
  }
}