@use '@scss/variables' as *;

.top-section {
  min-height: calc(100vh - 42px);

  .image{
    padding-left: 80px;

    img{
      max-width: 460px;
    }
  }

  .center{
    min-height: 100%;
    display: flex;
    align-content: center;
    padding: 0 42px;
  }

  .position{
    font-size: 32px;
  }
}