@use '@scss/variables' as *;

.top-section {
  min-height: calc(100vh - 42px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 60px;

  .image{
    padding-left: 80px;

    img{
      max-width: 460px;
    }
  }

  .description {
    max-width: 600px;
  }

  .position{
    font-size: 32px;
  }
}