@mixin font-face(
  $font-family,
  $font-path,
  $font-weight: 100 900,
  $font-style: normal
) {
  @font-face {
    font-family: $font-family;
    src: url('#{$font-path}') format('woff2');
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
  }
}
