@use '@scss/variables' as *;

.main-header {
  position: sticky;
  top: 0;
  z-index: 10;

  background: $white;
  border-bottom: 1px solid $border-color;

  .center {
    display: flex;
    align-items: center;
    justify-content: space-between;

    min-height: 80px;
  }

  .logo {
    font-size: 24px;
    font-weight: 700;
  }

  .navigation {
    display: flex;
    align-items: center;
    gap: 32px;

    a {
      font-size: 14px;
      transition: .3s;

      &:hover {
        opacity: 1;
      }
    }

    .router-link-active {
      opacity: 1;
      text-shadow: -0.4px 0 0 rgba(0, 0, 0, 1), 0.4px 0 0 rgba(0, 0, 0, 1), 0 -0.4px 0 rgba(0, 0, 0, 1), 0 0.4px 0 rgba(0, 0, 0, 1);
    }
  }

  .button {
    padding: 12px 20px;

    border: 1px solid $black;
    border-radius: 4px;

    font-size: 14px;

    transition:
        color .3s,
        background .3s;

    &:hover {
      color: $white;
      background: $black;
    }
  }
}