@use '../variables' as *;

.btn{
  min-height: 46px;
  padding: 12px 24px;
  border-radius: 4px;
  background: $red;
  color: $white;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -2%;
  margin-top: 60px;

  & > *{
    &:first-child{
      margin-right: 12px;
    }
  }

  &.transparent{
    border: 1px solid rgba($black, 0.16);
    background: $white;
    color: $brown;
  }
}