@use 'variables' as *;

.mt-24{
  margin-top: 24px;
}

.m-auto{
  margin: auto;
}

.mt-60{
  margin-top: 60px;
}

.max-w-600{
  max-width: 700px;
}

.network{
  display: flex;
  width: 100%;

  a{
    border: 1px solid rgba($black, 0.2);
    flex: 1;
    text-align: center;
    text-transform: uppercase;
    padding: 14px;

    &:first-child{
      border-left: none;
      text-align: left;
    }

    &:last-child{
      border-right: none;
      text-align: right;
    }
  }
}

.btns{
  display: flex;
  margin-left: -15px;
  margin-right: -15px;

  & > *{
    margin: 15px;
  }
}