@use 'variables' as *;

body {
  font-family: $font-family;
  color: $color-black;
  background: $color-white;
}

.container {
  width: min(100% - 48px, $container-width);
  margin-inline: auto;
}

.section {
  padding: 120px 0;
}

@media (max-width: $breakpoint-mobile) {
  .container {
    width: min(100% - 32px, $container-width);
  }

  .section {
    padding: 80px 0;
  }
}